<!-- Footer -->
<footer id="footer">

<!--    <ul class="icons">-->
<!--        <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>-->
<!--        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>-->
<!--        <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>-->
<!--        <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>-->
<!--    </ul>-->

    <ul class="copyright">
        <li>微博: 韩大熊宝要姓张</li><li>邮箱: qiangai_001@163.com</a></li>
    </ul>

</footer>